<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Assignment_10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.example.HelloWorldServlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParametersServlet</display-name>
    <servlet-name>GetParametersServlet</servlet-name>
    <servlet-class>com.example.getparameters.GetParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParametersServlet</servlet-name>
    <url-pattern>/GetParametersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFormServlet</display-name>
    <servlet-name>SubmitFormServlet</servlet-name>
    <servlet-class>com.example.formhandler.SubmitFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFormServlet</servlet-name>
    <url-pattern>/SubmitFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSessionServlet</display-name>
    <servlet-name>SetSessionServlet</servlet-name>
    <servlet-class>com.example.sessionmanagement.SetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSessionServlet</servlet-name>
    <url-pattern>/SetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSessionServlet</display-name>
    <servlet-name>GetSessionServlet</servlet-name>
    <servlet-class>com.example.sessionmanagement.GetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSessionServlet</servlet-name>
    <url-pattern>/GetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextServlet</display-name>
    <servlet-name>ContextServlet</servlet-name>
    <servlet-class>com.example.context.ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet</servlet-name>
    <url-pattern>/ContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardingServlet</display-name>
    <servlet-name>ForwardingServlet</servlet-name>
    <servlet-class>com.example.forwarding.ForwardingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardingServlet</servlet-name>
    <url-pattern>/ForwardingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TargetServlet</display-name>
    <servlet-name>TargetServlet</servlet-name>
    <servlet-class>com.example.forwarding.TargetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetServlet</servlet-name>
    <url-pattern>/TargetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludingServlet</display-name>
    <servlet-name>IncludingServlet</servlet-name>
    <servlet-class>com.example.including.IncludingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludingServlet</servlet-name>
    <url-pattern>/IncludingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.example.including.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.example.fileupload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.example.cookies.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExceptionServlet</display-name>
    <servlet-name>ExceptionServlet</servlet-name>
    <servlet-class>com.example.exception.ExceptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionServlet</servlet-name>
    <url-pattern>/ExceptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestLogingFilter</display-name>
    <servlet-name>RequestLogingFilter</servlet-name>
    <servlet-class>com.example.filter.RequestLogingFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLogingFilter</servlet-name>
    <url-pattern>/RequestLogingFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAndContextListener</display-name>
    <servlet-name>SessionAndContextListener</servlet-name>
    <servlet-class>com.example.listener.SessionAndContextListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAndContextListener</servlet-name>
    <url-pattern>/SessionAndContextListener</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSessionServlet</display-name>
    <servlet-name>CreateSessionServlet</servlet-name>
    <servlet-class>com.example.listener.CreateSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSessionServlet</servlet-name>
    <url-pattern>/CreateSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroySessionServlet</display-name>
    <servlet-name>DestroySessionServlet</servlet-name>
    <servlet-class>com.example.listener.DestroySessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroySessionServlet</servlet-name>
    <url-pattern>/DestroySessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextAttributeServlet</display-name>
    <servlet-name>ContextAttributeServlet</servlet-name>
    <servlet-class>com.example.listener.ContextAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextAttributeServlet</servlet-name>
    <url-pattern>/ContextAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearContextAttributeServlet</display-name>
    <servlet-name>ClearContextAttributeServlet</servlet-name>
    <servlet-class>com.example.listener.ClearContextAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearContextAttributeServlet</servlet-name>
    <url-pattern>/ClearContextAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.example.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownoadServlet</display-name>
    <servlet-name>FileDownoadServlet</servlet-name>
    <servlet-class>com.example.filedownload.FileDownoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownoadServlet</servlet-name>
    <url-pattern>/FileDownoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormValidationServlet</display-name>
    <servlet-name>FormValidationServlet</servlet-name>
    <servlet-class>com.example.formvalidation.FormValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormValidationServlet</servlet-name>
    <url-pattern>/FormValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.example.redirectservlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadsServlet</display-name>
    <servlet-name>FileUploadsServlet</servlet-name>
    <servlet-class>com.example.multipartform.FileUploadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadsServlet</servlet-name>
    <url-pattern>/FileUploadsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.example.model19.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>com.example.dao19.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.example.controller20.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet13</display-name>
    <servlet-name>UserServlet13</servlet-name>
    <servlet-class>com.example.servlet13.UserServlet13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet13</servlet-name>
    <url-pattern>/UserServlet13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudServlet</display-name>
    <servlet-name>CrudServlet</servlet-name>
    <servlet-class>com.example.crud.CrudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudServlet</servlet-name>
    <url-pattern>/CrudServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User20</display-name>
    <servlet-name>User20</servlet-name>
    <servlet-class>mvc.qu20.User20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User20</servlet-name>
    <url-pattern>/User20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>question20</display-name>
    <servlet-name>question20</servlet-name>
    <servlet-class>mvc.qu20.question20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>question20</servlet-name>
    <url-pattern>/question20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>question20user</display-name>
    <servlet-name>question20user</servlet-name>
    <servlet-class>userquestion20.question20user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>question20user</servlet-name>
    <url-pattern>/question20user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question14</display-name>
    <servlet-name>Question14</servlet-name>
    <servlet-class>com.example.question14.Question14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question14</servlet-name>
    <url-pattern>/Question14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlServlet</display-name>
    <servlet-name>XmlServlet</servlet-name>
    <servlet-class>com.example.question15.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlServlet</servlet-name>
    <url-pattern>/XmlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet14</display-name>
    <servlet-name>JsonServlet14</servlet-name>
    <servlet-class>com.example.question14.JsonServlet14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet14</servlet-name>
    <url-pattern>/JsonServlet14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question13</display-name>
    <servlet-name>Question13</servlet-name>
    <servlet-class>in.sp.backend.Question13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question13</servlet-name>
    <url-pattern>/Question13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.example.question14.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
</web-app>